[Unit]
Description=Mizu - %PROTOCOL%
After=network.target

[Service]
Type=simple
User=nobody
Group=mizu
UMask=0027
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX AF_NETLINK
RestrictRealtime=true
DevicePolicy=closed
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
ExecStart=%BINARY% %ARGS%
Restart=on-failure
RestartSec=5
ReadWritePaths=/etc/mizu/%PROTOCOL% /var/log/mizu

[Install]
WantedBy=multi-user.target
